body {
    background-color: #cccccc;
  }
  
  .container{
    max-width: 500px;
  }
  
  .card{
    background: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
    border: 1px solid #a1a1a1;
  }
  
  .jumbotron{
    background: transparent;
  }
  
  .centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }
