#box{
    background-color: bisque;
    height: 320px;
    width: 700px;
    visibility: hidden;
}

body{
    background-color: aqua;
}

#box.show{
    visibility: visible;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.wrap {
    position: relative;
}

.wrap span {
    position: absolute;
    right: 0px;;
}
.close:hover{
    background-color: red;
}

#submission{
    margin-top: 16px;
    padding-top: 10px;
}
#warn-name,#warn-mail{
    display: none;
}
.mail-label{
    margin-top: 16px;
}
